body {
    font-family: sans-serif, arial, helvetica;
  }
  
.product-card{
    margin-top: 30px;
}

.cart-title{
    padding: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
  }
  
.bottom-card {
margin-top: auto;
}

.cart-card{
    padding: 20px;
    margin-top: 30px;
    height: 90%;
}

.add-to-cart{
    margin-top: 20px;
}

input{
    width: 30px;
}