.container-top{
    background-color: #f3f4f6;
}

.container-bottom{
    background-color: #ffffff;
    padding-top: 32px;
}

.custom-container{
    margin-left: 170px;
    margin-right: 170px;
    font-family: sans-serif;
}

a:hover {
    text-decoration: underline;
}

p{
    color: #778298;
}

.p-18{
    font-size: 18px;
}

.p-21{
    font-size: 21px;
}

.p-22{
    font-size: 22px;
}

.navbar{
    height: 77px;
    color: #A09EB2;
}

.navbar img{
    margin-left: 31.5px;
}

.navbar nav-item{
    margin-right:31.5px;
}

.welcome{
    font-family: serif;
    padding-top: 32px;
    padding-bottom: 32px;
}

.welcome h1{
    color: #38404F;
    font-size: 60px;
}

.welcome span{
    color: #DE3F1C;
    font-weight: bold;
    font-size: 60px;
}

.text-form{
    padding-top: 32px;
    padding-bottom: 32px;
}

.text{
    padding-left: 218px;
    padding-right: 218px;
}

.get-started{
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 311px;
    margin-right: 311px;
}

.get-started input{
    width: 461px;
    height: 52px;
}

.get-started button{
    color: white;
    background-color: #65D777;
    width: 117px;
}

.get-started button:hover{
    color: white;
    background-color: #43a151;
}

.service{
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.service h4{
    margin-top: 23px;
    margin-bottom: 18px;
}

.instructors-title{
    padding-top: 32px;
    margin-bottom: 16px;
}

.instructors-title h2{
    color: #091836;
    font-family: serif;
    font-size: 50px;
    font-weight: bold;
}

.person-detail{
    margin-left: 20px;
}

.person-name p{
    font-size: 26px;
    color: #091836;
}

.join-container{
    margin-top: 64px;
    margin-bottom: 64px;
}

.join-card{
    padding: 32px;
    background-color: #F3F4F6;
    border-radius: 3px;
    width: 590px;
    height: 195px;
}

.text-bold p{
    color: #38404F;
    font-weight: bold;
}

.join-form button{
    height: 52px;
    color: white;
    background-color: #65D777;
}

.join-form button:hover{
    color: white;
    background-color: #43a151;
}

.footer{
    color: #778298;
    height: 72px;
    padding-left: 32px;
    padding-right: 32px;
}

.footer hr{
    background-color: #F4F5F7;
}
